/* @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 199, 210, 254;
        --color-text-inverted: 79, 70, 229;
        --color-primary: 74, 70, 51;
        --color-secondary: 202, 165, 25;
        --color-secondary-accent: 255, 165, 0;
        --color-button-accent-hover: 238, 242, 255;
        --color-button-muted: 99, 102, 241;
    }
}
